<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Cat's Cradle Events</title>
    <link>https://catscradle.com/events/</link>
    <description>Upcoming events at Cat's Cradle music venues</description>
    <item>
      <title>Josh Ritter (Friday, January 30 - Doors: 7 pm : Show: 8 pm)</title>
      <link>https://catscradle.com/event/josh-ritter/haw-river-ballroom/saxapahaw-north-carolina/</link>
      <guid>https://catscradle.com/event/josh-ritter/haw-river-ballroom/saxapahaw-north-carolina/</guid>
      <description><![CDATA[Cat's Cradle Presents<br/><br/>Friday, January 30 - Doors: 7 pm : Show: 8 pm<br/>Haw River Ballroom]]></description>
      <pubDate>Tue, 23 Dec 2025 17:36:45 -0500</pubDate>
      <enclosure url="https://catscradle.com/wp-content/plugins/cookie-law-info/lite/frontend/images/revisit.svg"/>
    </item>
  </channel>
</rss>
